
name: Generate Metrics

on:
  schedule:
    - cron: "45 3 * * *"
  workflow_dispatch:
  push:
    branches: [ "main" ]

permissions:
  contents: write

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Generate metrics.svg
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: ${{ github.repository_owner }}
          filename: generated/metrics.svg
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: America/Toronto

          plugin_languages: yes
          plugin_languages_limit: 8
          plugin_languages_details: bytes-size, percentage
          plugin_lines: yes
          plugin_habits: yes
          plugin_habits_facts: yes
          plugin_habits_charts: yes
          plugin_achievements: yes
          plugin_achievements_threshold: C

      - name: Commit & push (if changed)
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add -A
          if git commit -m "chore: update metrics"; then
            git push
          fi
